/* Colors!
*   07070A - Dark black
*   24272B - Lighter black
*   4A525A - Mid lighter black - blue
*   3E78B2 - Light blue
*   004BA8 - Dark blue
*/

body{
  background-color: #4A525A;
  color: #07070A;
}

.card-title{
  color: #07070A;
}
